/* Quiz */
#quiz {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 40px auto;
  max-width: 600px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

#quiz h2 {
  margin-bottom: 20px;
  color: #003366;
}

.pergunta {
  margin-bottom: 15px;
}

.pergunta p {
  font-weight: bold;
}

.pergunta label {
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
}

#quiz button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#quiz button:hover {
  background-color: #0055aa;
}

#resultado {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}
